@model PollApp.ViewModel.UpdatePollViewModel

<h2>@Model.CurrentPoll.Title</h2>

<table class="table">
    <thead>
        <tr>
            <td>@Model.CurrentPoll.Title</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var choice in Model.CurrentChoices)
        {
            <tr>
                <td>@choice</td>
            </tr>
        }
    </tbody>
</table>
<form asp-controller="User" asp-action="Update" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Title" value="@Model.CurrentPoll.Title" type="hidden" />
    <input asp-for="PollId" value="@Model.CurrentPoll.ID" type="hidden"/>
    <input asp-for="CateId" value="@Model.CurrentPoll.ID" type="hidden" />
    <div id="choices">
        <div class="form-group">
            <label>Choice</label>
            <input class="form-control choice" asp-for="Choices[0]" required/>
            <span asp-validation-for="Choices"></span>
        </div>
    </div>
    <input type="button" value="Add Choice" id="add" class="btn btn-lg" />
    <input class="btn btn-lg btn-primary" type="submit" value="Add Poll" />
</form>