@model PollApp.ViewModel.PollVotingViewModel

    <h1>@Model.Title</h1>
@using (Html.BeginForm("Polls", "Poll", FormMethod.Post))
{

    for (int i = 0; i < Model.PollChoices.Count; i++)
    {
        <label>@Html.RadioButtonFor(Model => Model.ChoiceSelected, i.ToString()) @Model.PollChoices[i]</label>
        <br />
    }
    <input class="btn-primary" type="submit" value="Vote!"/>
}
<br />
<a href="/Poll/ID/@Model.ID/Results">View Results</a>
<p>Date Created: @Model.DateCreated</p>
<p>Category: <a href="/Categories/C/@Model.Category">@Model.Category</a></p>