@using System;
@using PollApp.Models;
<table class="text-center table">
    <caption class="text-center">@ViewBag.currentPoll.Title</caption>
    <thead>
        <tr>
            <td>Choices</td>
            <td>Votes</td>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<Choices, float> choice in ViewBag.currentChoices)
        { 
            <tr>
                <td>@choice.Key.Choice</td>
                <td>@choice.Key.Votes (@choice.Value %)</td>
            </tr>
           
        }
        <tr>
            <td>Total:</td>
            <td>@ViewBag.currentPoll.Total</td>
        </tr>
        <tr>
            <td>Category: <a href="/Categories/C/@ViewBag.currentPoll.Catagory">@ViewBag.currentPoll.Catagory </a></td>
            <td> Date Created: @ViewBag.currentPoll.DateCreated</td>
        </tr>
    </tbody>
</table>